body{
    background-color: #f5f5f5;
    font-family: Arial;
}

header{
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav{
    background: #3b3939;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 100;
}

.floating-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #464545;
  color: white;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
}


nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

section{
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    z-index: 100;
    animation: fadeIn 1s;

}

article{
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    animation: moveUp 1s;
}

article:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* form{
    display: flex;
    flex-direction: column;
    gap:5px;
} */

input{
    padding: 8px;
    border-radius: 5px;
    border:1px solid #ccc;
}

footer{
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}

button{
    background: skyblue;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

button:hover{
    background: deepskyblue;
    transform: scale(1.05);
}

@keyframes fadeIn{
  from{ opacity: 0; }
  to{ opacity: 1; }
}

